@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:opsz,wght@14..32,100..900&family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Custom colors */
  --color-stone: #0f172a;
  --color-slate: #475569;

  --max-width-8xl: 1320px;

  --text-2xs: 12px;
}

:root {
  font-family: "DM Sans", sans-serif;
}
